@font-face {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI'), url('fonts/segoeui.woff') format('woff');
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    vertical-align: baseline;
}

body {
    background-color: #515f67;
}

header {
    background-image: url("images/header.png");
    background-repeat: repeat-x;
    background-size: cover;
    height: 41vw;
}
.header-padding {
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #fff;
    background-color: rgba(53, 63, 70, 0.4);
    font-weight: bold;
    font-size:  0.875rem;
    height: 10vw;
}

.font-size-4vw {
    font-size: 4vw;
}

.header-nav {
    display: none;
}

.openbtn {
    font-size: 0.875rem;
    cursor: pointer;
    margin-left: 0.625rem;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3.75rem;
    color: white;
}

.sidenav a {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    text-decoration: none;
    font-size: 1.3125rem;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 1.75rem;
    margin-left: 3.125rem;
}
.header-logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.color-blue {
    color: #4bcaff;
}
.nav-paragraphe {
    margin-left: 0.625rem;
}

.nav-paragraphe a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2vw;
}
.nav-paragraphe a:hover {
    color: #4bcaff;
    border: solid #4bcaff 1px;
}
.header-quote {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-quote p {
    background-color: rgba(53, 63, 70, 0.4);
    color: white;
    font-size: 100%;
    font-weight: lighter;
    text-align: center;
}
.services {
    background-color: #4bcaff;
    width: 100%;
    color: white;
}
.services-padding {
    padding: 5% 10%;
}
.underline {
    border-bottom: solid white 1px;
}
.display-grid-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
}
.service {
    padding: 10px;
}
.portfolio {
    background-color: white;
    width: 100%;
    color: black;
    padding: 5% 0;
}
.black-underline {
    border-bottom: solid black 1px;
}
.portfolio-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10% 5%;
}
.chose-image {
    display: flex;
    flex-direction: column;
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
button:hover {
    color: #4bcaff;
    border: solid #4bcaff 1px;
}
.padding {
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.portfolio img {
    max-width: 100%;
    height: auto;
    opacity: 0.8;
}
.portfolio img:hover {
    background-color: rgba(53, 63, 70, 1);
}
.images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px 5px;
    align-self: center;
    padding: 0 10%;
}

.default-padding {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

iframe {
    max-width: 100%;
}
.visit-me {
    border: solid thin black;
    color: black;
}
.title {
    padding-bottom: 5%;
}
.default-para {
    padding-bottom: 5%;
}
.twitter{
    background-color: #4bcaff;
    color: white;
}
.twitter-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4%;
}
.fa-twitter {
    color: white;
}
.whoIs {
    background-image: url("images/bgphoto.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.JohnDoe {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.header-John {
    padding-bottom: 4%;
}
.icon {
    border: solid white 1px;
}
.JohnDoe div p {
    padding-bottom: 4%;
}
.testimonials {
    background-color: white;
}
.testimonials-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
b {
    font-size: 200%;
    font-style: oblique;
}
#contact {
    background-image: url("images/contact.png");
    background-repeat: repeat-x;
    background-size: cover;
    padding: 5% 10%;
    color: white;
}
#input-text {
    width: 100%;
}
#message {
    width: 100%;
    height: 150px;
}
#button {
    background-color: #4bcaff;
    color: white;
}
footer {
    background-color: #353f47;
    color: #515f67;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
}
footer a {
    text-decoration: none;
    color: #515f67;
}
.block {
    display: block;
}
.none {
    display: none;
}
@media screen and (min-width: 746px) {
    .sidenav {
        display: none;
    }
    .openbtn {
        display: none;
    }
    .header-nav {
        display: flex;
        flex-direction: row;
        height: 5vw;
        margin-top: 0;
    }
    .null {
        display: none;
    }
    .header-logo {
        width: 50%;
    }
    .header-quote p {
        font-size: 200%;
    }
    .display-grid-row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
    }
    .portfolio-image {
        flex-direction: row;
        justify-content: space-between;
    }
    .images {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px 5px;
    }
    .chose-image {
        display: inline;
    }
    .default-padding {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .JohnDoe {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
    .contact-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:    "text firstPara"
                                "email secondPara"
                                "textarea textarea"
                                "button _";
        grid-gap: 10px;
    }
    #first-para {
        grid-area: firstPara;
    }
    #second-para {
        grid-area: secondPara;
    }
    #input-text {
        grid-area: text;
    }
    #input-email {
        grid-area: email;
    }
    #textarea {
        grid-area: textarea;
    }
    #button {
        grid-area: button;
    }
    input {
        width: 100%;
        background: transparent;
        border: solid white 1px;
    }
    textarea {
        width: 100%;
        background: transparent;
        border: solid white 1px;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}